{% extends 'eshop/base.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}
{% block body %}
<br>
{% if shopcart %}
<div class="container text-center">
    <h6 class="bg-success px-auto mx-auto w-75 rounded py-2 text-white">Delivering to:
        <strong>{{ request.user.username }}</strong></h6>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <a class="px-3 py-1 rounded disabled"
                style="border: solid 2px rgb(0, 0, 0);color: rgb(255, 255, 255);background: rgb(0, 0, 0);"
                class="">Cart</a>
        </div>
        <div class="col-4 text-center">
            <a href="{% url 'payu_demo' %}" class="px-3 py-1 rounded disabled" style="border: solid 2px black"
                class="">Address</a>
        </div>
        <div class="col-4 text-center">
            <a class="px-2 py-1 rounded mx-auto disabled" style="border: solid 2px black" class="">Payment</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h4 style="font-weight: 600;">Price details</h4>
    <div class="col-md-6">
        <div class="row">
            <div class="col-6 m-0 p-0">Break down</div>
            <div class="col-6 text-right"><i class="fas fa-rupee-sign    "></i> {{ total }}</div>
        </div>
        <!-- <div class="row">
                <div class="col-6 m-0 p-0">Discount %</div>
                <div class="col-6 text-right">50%</div>
            </div> -->
        <div class="row">
            <div class="col-6 m-0 p-0">Shipping</div>
            <div class="col-6 text-right">Rs. 50</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 m-0 p-0"><strong>Total</strong></div>
            <div class="col-6 text-right"><strong>Rs. 1125</strong></div>
        </div>
        <br>
        <div class="row">
            <a href="{% url 'payu_demo' %}" class="bg-dark text-white border p-3">Add Address</a>
            <a href="{% url 'cod' %}" class="bg-dark text-white border p-3 mx-5">Cash on delivery</a>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h2 style="font-weight: 600;">Cart</h2>
</div>
{% endif %}

{% if shopcart %}
<div class="container m-0 p-0">
    <h6 style="font-weight: 600">Cart</h6>
    <br />
    <!--Loop start here-->
    {% for item in shopcart %}
    <div class="p-0 shadow" style="border-radius: 15px; background: #efffef">
        <div class="row m-0 p-0">
            <div class="col-4 m-0 p-0">
                <img class="w-100 h-100 m-0 p-0" style="
              border-radius: 15px 0 0 15px;
              object-fit: cover;
              object-position: center;
            " src="{{ item.product.image.url }}"
                    alt="" />
            </div>
            <div class="col-8">
                <div class="row mb-2">
                    <div class="col-12"><strong class="text-danger">{{ item.product.brand_name }}</strong></div>
                    <div class="col-7">
                        <p class="p-0 pt-2 m-0 small" style="line-height: 100%">
                            <strong><b>{{ item.product.title }}</b></strong>
                        </p>
                    </div>
                    <div class="col-5">
                        <p class="p-0 pt-2 m-0 small">
                    <strong><i class="fas fa-rupee-sign"></i> <b>{% if item.product.variant == 'None' %} {{ item.product.price }} {% else %} {{ item.variant.price }} {% endif %}
                        </b></strong>
                        </p>
                    </div>
                </div>
                {% if item.variant != 'None' %}
                <div class="row mb-2">
                    <div class="col-7">
                        <p class="small text-muted p-0 m-0">Variant</p>
                        <p class="p-0 m-0 small"><strong>{{ item.variant }}</strong></p>
                    </div>
                    <div class="col-5">
                        <p class="small text-muted p-0 m-0">Quantity</p>
                        <p class="p-0 m-0 small"><strong>{{ item.quantity }}</strong></p>
                    </div>
                </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-6">
                        <a href="/order/deletefromcart/{{ item.id }}" onclick="return confirm('Delete! Are you sure?')" class="p-0 m-0 small" style="color: rgb(68, 68, 68)"><strong><b>Remove</b></strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <br />
    <!--Loop end here-->

    <br />

    <br />
</div>

{% else %}
<div class="container">
    <h2 style="font-weight: 600;">Cart</h2>
</div>
<div class="container text-center">
    <span>You don't have anything in your cart!</span>
</div>
{% endif %}
<!--Loop end here-->

<br>
{% endblock %}