  <!--Navbar -->
  <style>
  .ui-autocomplete{
  margin-top: 150px !important;
  }
</style>

  {% load static %}
  <script>
    $(function () {
      $("#query").autocomplete({
        source: "/search_auto/",
        select: function (event, ui) { //item selected
          AutoCompleteSelectHandler(event, ui)
        },
        minLength: 2,
      });
    });

    function AutoCompleteSelectHandler(event, ui) {
      var selectedObj = ui.item;
    }
  </script>
  {% load myapptags %}
  {% settingslist as setting %}
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top bg-white">
    <div class="container">
      <a class="navbar-brand" href="/">
        {% if setting.icon %}
        <img style="width: 100px;" src="{{ setting.icon.url }}" alt="">
        {% endif %}
      </a>

      {% if setting.show_owner_info == True %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg- pl-0 py-0 " id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-angle-down text-dark bg-light rounded-circle "></i>
          </a>
          <div
            style="width: 300px !important;left: -100px !important;border: none;border-radius: 15px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);"
            class="dropdown-menu dropdown-default px-2" aria-labelledby="navbarDropdownMenuLink-333">
            <div class="container w-100 dropdown-item  px-auto text-center">
              <h5 class="mx-auto bg-success px-3 py-1 my-3 text-white"><strong>Founders</strong> </h5>
            </div>
            <div class="container w-100 dropdown-item mb-3">
              <div class="row w-100">
                <div class="col-3 px-0">
                  {% if setting.mousham %}
                  <img class="rounded-circle" style="height: 40px;width: 40px;"
                    src="{{ setting.mousham.url }}"
                    alt="">
                  {% endif %}
                </div>
                <div class="col-9 px-0 mx-0">
                  <p class="w-100 p-0 m-0"><strong>Mousham Roy Choudhury </strong> </p>
                  <p class="small p-0 m-0">CEO</p>
                </div>
              </div>
              <br>
              <br>
              <div class="row w-100 ">
                <div class="col-3 px-0">
                  {% if setting.avijit %}
                  <img class="rounded-circle" style="height: 40px;width: 40px;"
                    src="{{ setting.avijit.url }}"
                    alt="">
                  {% endif %}
                </div>
                <div class="col-9 px-0 mx-0">
                  <p class="w-100 p-0 m-0"><strong>Avijit Chandra</strong> </p>
                  <p class="small p-0 m-0">MD</p>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>
      {% endif %}

      <!--pc search start-->
      <div class=" px-0 mx-5 row w-100 " style="background-color: rgba(0, 128, 0, 0.13);border-radius: 10px;"
        id="peep2">
        <form action="/search/" method="POST"> {% csrf_token %}
          <input id="query" name="query" required class="col-11 w-100 px-2" type="text"
            style="background-color: rgba(57, 148, 57, 0);border: none;height: 30px;border-radius: 10px;"
            placeholder="Search for your products here...">
          <button style="border: none;background: none;" class=" " type="submit"><i
              class="fa fa-search text-dark"></i></button>
        </form>
      </div>
      <!--pc search end-->
      <!--mobile icons start-->
      {% if setting.phone %}
      <button class="navbar-toggler mx-0" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <a href="tel:{{ setting.phone }}"><i class="fas fa-phone text-dark"></i></a>
      </button>
      {% endif %}
      {% if user.id is not None %}
      {% wishlistcount user.id as wishlist %}
      <button class="navbar-toggler mx-0" type="button" aria-controls="navbarSupportedContent-333" aria-expanded="false"
        aria-label="Toggle navigation">
        <a href="{% url 'wishlist' %}"><i class="fas fa-heart {% if wishlist %} text-danger {% else %} text-dark {% endif %}"></i></a>
      </button>
      {% shopcartcount user.id as shopcart %}
      <button class="navbar-toggler mx-0" type="button" aria-controls="navbarSupportedContent-333" aria-expanded="false"
        aria-label="Toggle navigation">
        <a href="{% url 'shopcart' %}"> {% if shopcart %}
          <i class="fas fa-shopping-bag text-danger "> {% else %}
            <i class="fas fa-shopping-bag text-dark ">
              {% endif %} </i></a>
      </button>
      {% else %}
      <button class="navbar-toggler mx-0" type="button"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <a href="{% url 'login_form' %}"><i class="text-dark fa fa-sign-in-alt"></i></a>
      </button>
      <!-- <button class="navbar-toggler mx-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <a href="{% url 'signup_form' %}"><i class="text-dark fa fa-registered" aria-hidden="true"></i></a>
      </button> -->
      {% endif %}
      <button class="navbar-toggler mx-0 text-dark" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-dark"></i>
      </button>
      <!--mobile icons end-->

      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <div class="container text-center" id="peep">
          <div class="w-100 text-center" style="height: auto;">
            <br>
            <!--mobile search start-->
            <form action="/search/" method="POST"> {% csrf_token %}
              <input required id="query" name="query" class="w-100 px-2" type="text"
                style="background-color: rgba(0, 128, 0, 0.13);border: none;height: 40px;border-radius: 10px;"
                placeholder="search">
              <button style="border: none;" class="my-3 bg-primary text-white px-4 py-2 rounded-pill"
                type="submit">Search</button>
            </form>
            <!--mobile search end-->
            <br>
            <br>
            {% if user.id is not None %}
            <h3>Hi, {{ user.username }}</h3>
            <br>
            <p class="py-0 my-0"><span><i class="fas fa-envelope text-dark"></i></span> {{ user.email }}</p>
            <!-- <p class="py-1 my-0"><i class="fas fa-phone text-dark"></i><strong> 7005657875</strong></p> -->
            <br>
            <div class="row">
              <div class="col-6">
                <a href="{% url 'user_orders' %}" class=" mb-3 bg-light py-2 px-3 rounded text-dark p">
                  My orders
                </a>
              </div>
              <div class="col-6">
                <a href="{% url 'contact' %}" class=" mb-3 bg-dark py-2 px-3 rounded text-light p">
                  Sell with Us
                </a>
              </div>
            </div>
            <!-- <br> -->
            <!-- <br>
            <a href="{% url 'logout_func' %}" class=" mb-3 bg-light py-2 px-3 rounded text-dark p">
              Log-out
            </a> -->
            {% else %}
            <div class="row">
              <div class="col-6">
                <a href="{% url 'login_form' %}" class=" mb-3 bg-light py-2 px-3 rounded text-dark p">
                  Login
                </a>
              </div>
              <div class="col-6">
                <a href="{% url 'signup_form' %}" class=" mb-3 bg-dark py-2 px-3 rounded text-light p">
                  Register
                </a>
              </div>
            </div>
            {% endif %}

            <br><br>
            <p>Buckler inc.</p>

          </div>
        </div>
      </div>
      <!--pc icons start-->
      {% if setting.phone %}
      <a class="mx-4" href="tel:{{ setting.phone }}" id="peep2">
        <i class="fas fa-phone text-dark"></i>
      </a>
      {% endif %}
      {% if user.id is None %}
      <a class="mx-4 text-dark" style="font-weight: 400;" href="{% url 'login_form' %}" id="peep2">
        Login
      </a>
      <a class="mx-4 text-dark" style="font-weight: 400;" href="{% url 'signup_form' %}" id="peep2">
        Register
      </a>
      {% else %}
      {% wishlistcount user.id as wishlist %}
      <a class="mx-4" href="{% url 'wishlist' %}" id="peep2">
        {% if wishlist %}
        <i class="fas fa-heart text-danger"> {% else %}
          <i class="fas fa-heart text-dark"> {% endif %}
          </i>
      </a>

      {% shopcartcount user.id as shopcart %}
      <a class="mx-4" href="{% url 'shopcart' %}" id="peep2">
        {% if shopcart %}
        <i class="fas fa-shopping-bag text-danger "> {% else %}
          <i class="fas fa-shopping-bag text-dark "> {% endif %}
          </i>
      </a>
      <a class="mx-4 text-dark w-25" style="font-weight: 400;" href="{% url 'user_orders' %}" id="peep2">
        My Orders
      </a>
      {% endif %}

      <!--pc icons end-->
    </div>
  </nav>

  <nav class="mb-0 navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        {% if setting.icon %}
        <img style="width: 100px;" src="{{ setting.icon.url }}" alt="">
        {% endif %}
      </a>
    </div>
  </nav>


  <!--/.Navbar -->
